@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 150px 1fr 450px;
  grid-template-rows: 50px 1fr;
  overflow-x: hidden;
}

/* Navigation Menu  */
.main-nav {
  grid-row: 1/-1;
  background-color: #4c5565;
}

.nav-container {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header-icon {
  font-size: 2rem;
  color: #d3d7de;
}

.task-count-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.task-count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid #4cae4c;
  background-color: #92cf5c;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.nav-container footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: end;
}

/*  Task Input  */
.task-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  grid-column: 2/3;
  background-color: #f1f4f8;
  border-bottom: 0.5px solid #5d6165;
  border-right: 0.5px solid #5d6165;
}
.task-header {
  color: #717171;
}

.task-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.field-group {
  width: 250px;
  position: relative;
  padding: 15px 0px 5px 0px;
}

.input-field {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #4c5565;
  padding-top: 5px;
  padding-left: 3px;
  background: transparent;
  transition: 0.3s ease;
}

.input-label {
  display: block;
  position: absolute;
  top: 0;
  padding-left: 3px;
  pointer-events: none;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.input-field::placeholder {
  color: transparent;
}

.input-field:placeholder-shown ~ .input-label {
  top: 18px;
}

.input-field:focus {
  border-bottom: 2px solid #92cf5c;
}

.add-btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #92cf5c;
  border-color: #4cae4c;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

/* Task List Collection */
.main-task {
  grid-column: 2/3;
  padding: 20px;
  background-color: #f9fafc;
  border-right: 0.5px solid #5d6165;
}

.task-list {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-item {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ebeff6;
  border-radius: 3px;
  cursor: pointer;
}

.task-item-title {
  color: #717171;
}

.task-item-title.checked {
  text-decoration: line-through;
  color: hsl(233, 14%, 35%);
}

.task-item-container {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-btn {
  margin-left: auto;
  width: 20px;
  height: 20px;
  padding: 0px 5px;
  font-size: 1.8rem;
  font-weight: 700;
  text-shadow: 0 1px 0 #fff;
  border: none;
  background: transparent;
  color: #000;
  cursor: pointer;
  opacity: 0.5;
  /* display: none; */
}

.close-btn:hover {
  opacity: 0.6;
  text-shadow: 0 1px 0 #fff;
}

.check-mark {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%);
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
}

.check-mark img {
  visibility: hidden;
}

.check-mark:hover,
.check-mark.checked {
  background-color: #015cc8;
}

.check-mark:hover img,
.check-mark.check-mark img {
  visibility: visible;
}

/* Active Task  */
.no-touch {
  display: none;
}

.active {
  background-color: #5ccdf3;
  border-color: #5dcff3;
}

/* Task Description / Timestamp */
.task-desc {
  grid-column: 3/4;
  grid-row: 1/-1;
}

.task-desc-container {
  display: flex;
  flex-direction: column;
  /* display: none; */
}

.timestamp {
  display: flex;
  background-color: #f1f4f8;
  border-bottom: 0.5px solid #5d6165;
  height: 50px;
  align-items: center;
  padding: 15px;
}

.created {
  color: #979797;
  font-weight: bold;
}

.current-date {
  color: #717171;
  padding-left: 5px;
}

.task-desc-textarea {
  background-color: #f9fafc;
  border-bottom: 0.5px solid #5d6165;
}

.task-desc-textarea-input {
  width: 100%;
  height: 115px;
  border: none;
  background-color: #f9fafc;
  padding: 10px 5px;
  outline: none;
  font-size: 1.2rem;
  font-family: Open Sans;
}

.open {
  display: block;
}

.close {
  display: none;
}

/* Dark Mode */
#input-color-switch {
  position: absolute;
  right: 10px;
}

.color-switch-container {
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.color-switch {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
}

.color-switch-toggle {
  width: 16px;
  height: 16px;
  background-color: #d3d7de;
  position: absolute;
  border-radius: 50%;
  top: 2.2px;
  left: 2.2px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
#input-color-switch:checked ~ label .color-switch-toggle {
  transform: translateX(20px);
}

body.dark-mode {
  background-color: #353a3f;
}
nav.dark-mode {
  background-color: #25292c;
}

.task-field.dark-mode {
  background-color: #353a3f;
  border-bottom: 0.5px solid #5d6165;
  border-right: 0.5px solid #5d6165;
}

.input-field.dark-mode {
  color: #ebebec;
}

.input-label.dark-mode {
  color: #ebebec;
}

.main-task.dark-mode {
  background-color: #353a3f;
  border-right: 0.5px solid #5d6165;
}

.close-btn.dark-mode {
  color: #fff;
}

.task-item.dark-mode {
  background-color: #494e52;
  border: 1px solid #5d6165;
}

.task-item-title.dark-mode {
  color: #ebebec;
}

.task-desc.dark-mode {
  background-color: #353a3f;
}

.task-desc-container.dark-mode {
  background-color: #353a3f;
}

.timestamp.dark-mode {
  background-color: #353a3f;
}

.current-date.dark-mode {
  color: #ebebec;
}

.task-desc-textarea.dark-mode {
  background-color: #494e52;
}

.task-desc-textarea-input.dark-mode {
  background-color: #494e52;
  color: #ffffff;
}
.task-desc-textarea-input.dark-mode::placeholder {
  color: #fff;
}

/* Tablet Laptop Query */

@media only screen and (max-width: 1040px) {
  body {
    grid-template-columns: 120px 1fr 330px;
  }
  .field-group {
    width: 150px;
  }
}

/* Tablet Media Query */

@media only screen and (max-width: 768px) {
  body {
    grid-template-rows: 70px 70px 1fr 170px;
    grid-template-columns: auto;
  }

  .main-nav {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .task-field {
    grid-column: 1/4;
    grid-row: 2;
  }

  .main-task {
    grid-column: 1/4;
    grid-row: 3;
  }

  .task-desc {
    grid-column: 1/4;
    grid-row: 4;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
  }

  .nav-header.dark-mode {
    border: none;
  }

  .nav-header {
    border: none;
  }

  .nav-container footer {
    border: none;
  }

  .nav-container footer.dark-mode {
    border: none;
  }

  .task-field.dark-mode {
    border-right: none;
  }

  .task-count-container.dark-mode {
    border: none;
  }
  .task-count-container {
    border: none;
    gap: 10px;
  }

  .main-task.dark-mode {
    border: none;
  }

  .close-btn.dark-mode {
    color: #fff;
  }

  .close-btn.dark-mode:hover {
    color: #fff;
  }

  .timestamp.dark-mode {
    border-top: 0.5px solid #5d6165;
  }
}

/* Tablet Phone Query */

@media only screen and (max-width: 450px) {
  body {
    grid-template-rows: 70px 70px 1fr 170px;
    grid-template-columns: auto;
  }

  .field-group {
    width: 150px;
  }
}
